* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 60px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

#timeContainer {
  margin-top: 15%;
  margin: 15% 0 0 1em;
}

progress {
  width: 100%;
}

#clock {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 20px;
  width: 100%;
}
progress::-webkit-progress-bar {
  background: rgb(228, 228, 228);
  box-shadow: inset 0px 0px 10px 5px rgb(204, 204, 204);
  border-radius: 5px;
}
progress::-webkit-progress-value {
  background-image: repeating-linear-gradient(135deg, #358ef3, #1882fa 8px);
  border-radius: 5px;
  position: relative;
}
